<!--<% layout('masterpage') -%>-->

    <div class="bigboobs">
      <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 style="font-family:'roboto_condensedregular';letter-spacing:2px;margin-top:100px;margin-bottom:30px;">TOKO BUKU DIGITAL MOCO</h1>
                <p style="font-weight:0;font-size:2em;margin-bottom:50px;">Membaca buku digital Indonesia pada platform media sosial.</p>
                <p>Go to apps >></p>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h3 class="title-content">Sign Up</h3>
                <p>Create your account.</p>
                <form role="form" method="post" id="signup">
                  <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
                  </div>
                  <div class="form-group">
                    <input type="email" id="email" name="email" class="form-control" placeholder="Your email" required>
                  </div>
                  <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                  </div>
                  <div class="form-group">
                    <input type="password" id="repassword" name="repassword" class="form-control" placeholder="Retype Password" required>
                  </div>
                  <button type="submit" class="btn btn-ak-red pull-right" id="btn-signup"><i id="signup-proc" class=""></i> Submit</button>
                </form>
            </div>
        </div>
      </div>
    </div>
<div class="container">
    
    <div class="row">
        <div class="col-md-4">
            <h3 class="title-slide">REKOMENDASI</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="slider1" class="slider">
                <ul id="recommended">
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                </ul>
            </div>
            <div class="bkn bkn-prev" onclick="book.prev('#slider1')"></div>
            <div class="bkn bkn-next" onclick="book.next('#slider1')"></div>
            <hr style="margin-bottom:0px">
        </div>
    </div>
</div>

<div class="desc" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                Mengelola pendidikan bukanlah persoalan mudah, dibutuhkan pemikiran dan analisis mendalam agar pendidikan yang dilaksanakan tepat sasaran dan sesuai dengan tujuan yang ditetapkan. Secara konseptual-filosofis pendidikan nasional digali dari identitas, karakteristik dan khazanah budaya yang dimilikinya, sehingga pendidikan yang diterapkan tidak keluar dari akar sejarahnya.

Sedangkan dalam praksis-aplikatif pendidikan dikelola dengan menajemen yang baik agar konsep-filosofis pendidikan tersebut dapat dibumikan secara efektif, efisien dan produktif. Tanpa sistem pengelolaan (manajemen) pendidikan yang baik, konsep-konsep tersebut tidak mempunyai banyak arti. Oleh karena itu, manajemen mempunyai peran sangat signifikan dalam pelaksanaan pendidikan agar konsep dan tujuan pendidikan dapat tercapai sebagaimana yang diinginkan.

Penerbitan buku ini dimaksudkan sebagai referensi dan panduan teoritik-aplikatif dalam pengelolaan pendidikan khususnya di sekolah/madrasah. Selain sebagai pengkayaan khazanah kepustakaan manajemen pendidikan yang masih sangat terbatas di Indonesia.

Banyak orang yang berjasa dalam penuntasan buku ini. Dengan buku ini pula kami persembahkan sebagai wujud dari sebuah cita-cita dan pengharapan dari doa dan sujud malamnya ummi-abi, kakak, adik dan permata hati yang memberi energi untuk terus berjuang, berjihad dan belajar hingga ujung waktu nanti.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 class="title-slide">POPULER</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="slider2" class="slider">
                <ul id="popular">
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                </ul>
            </div>
            <div class="bkn bkn-prev" onclick="book.prev('#slider2')"></div>
            <div class="bkn bkn-next" onclick="book.next('#slider2')"></div>
            <hr style="margin-bottom:0px">
        </div>
    </div>
</div>

<div class="desc" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                Mengelola pendidikan bukanlah persoalan mudah, dibutuhkan pemikiran dan analisis mendalam agar pendidikan yang dilaksanakan tepat sasaran dan sesuai dengan tujuan yang ditetapkan. Secara konseptual-filosofis pendidikan nasional digali dari identitas, karakteristik dan khazanah budaya yang dimilikinya, sehingga pendidikan yang diterapkan tidak keluar dari akar sejarahnya.

Sedangkan dalam praksis-aplikatif pendidikan dikelola dengan menajemen yang baik agar konsep-filosofis pendidikan tersebut dapat dibumikan secara efektif, efisien dan produktif. Tanpa sistem pengelolaan (manajemen) pendidikan yang baik, konsep-konsep tersebut tidak mempunyai banyak arti. Oleh karena itu, manajemen mempunyai peran sangat signifikan dalam pelaksanaan pendidikan agar konsep dan tujuan pendidikan dapat tercapai sebagaimana yang diinginkan.

Penerbitan buku ini dimaksudkan sebagai referensi dan panduan teoritik-aplikatif dalam pengelolaan pendidikan khususnya di sekolah/madrasah. Selain sebagai pengkayaan khazanah kepustakaan manajemen pendidikan yang masih sangat terbatas di Indonesia.

Banyak orang yang berjasa dalam penuntasan buku ini. Dengan buku ini pula kami persembahkan sebagai wujud dari sebuah cita-cita dan pengharapan dari doa dan sujud malamnya ummi-abi, kakak, adik dan permata hati yang memberi energi untuk terus berjuang, berjihad dan belajar hingga ujung waktu nanti.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 class="title-slide">BUKU GRATIS</h3>
        </div>
    </div>
      <div class="row">
        <div class="col-md-12">
            <div id="slider3" class="slider">
                <ul id="newbook">
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                </ul>
            </div>
            <div class="bkn bkn-prev" onclick="book.prev('#slider3')"></div>
            <div class="bkn bkn-next" onclick="book.next('#slider3')"></div>
      </div>
    </div>
</div>

<div class="desc" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                Mengelola pendidikan bukanlah persoalan mudah, dibutuhkan pemikiran dan analisis mendalam agar pendidikan yang dilaksanakan tepat sasaran dan sesuai dengan tujuan yang ditetapkan. Secara konseptual-filosofis pendidikan nasional digali dari identitas, karakteristik dan khazanah budaya yang dimilikinya, sehingga pendidikan yang diterapkan tidak keluar dari akar sejarahnya.

Sedangkan dalam praksis-aplikatif pendidikan dikelola dengan menajemen yang baik agar konsep-filosofis pendidikan tersebut dapat dibumikan secara efektif, efisien dan produktif. Tanpa sistem pengelolaan (manajemen) pendidikan yang baik, konsep-konsep tersebut tidak mempunyai banyak arti. Oleh karena itu, manajemen mempunyai peran sangat signifikan dalam pelaksanaan pendidikan agar konsep dan tujuan pendidikan dapat tercapai sebagaimana yang diinginkan.

Penerbitan buku ini dimaksudkan sebagai referensi dan panduan teoritik-aplikatif dalam pengelolaan pendidikan khususnya di sekolah/madrasah. Selain sebagai pengkayaan khazanah kepustakaan manajemen pendidikan yang masih sangat terbatas di Indonesia.

Banyak orang yang berjasa dalam penuntasan buku ini. Dengan buku ini pula kami persembahkan sebagai wujud dari sebuah cita-cita dan pengharapan dari doa dan sujud malamnya ummi-abi, kakak, adik dan permata hati yang memberi energi untuk terus berjuang, berjihad dan belajar hingga ujung waktu nanti.
                </p>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lemmon-slider.js"></script>
<script src="js/aksaramaya.js"></script>
<script>
    $(document).ready(function(){
        $("form#signup").submit(function(){
            book.json({
                url : "/signup",
                type : "POST",
                data : $("#signup").serialize(),
                beforeSend: function(){
                    $('#signup-proc').addClass('fa fa-refresh fa-spin');
                }
            })
            .success(function(data){
                var dt = JSON.parse(data);
                if(dt.meta.code == 200){
                    alert(dt.meta.confirm);   
                }
                else{
                    var m_error = dt.meta.error_message;
                    if(m_error.length > 0){
                        var error = m_error.join(",");
                    }
                    else {
                        var error = m_error;
                    }
                    alert(error);
                }
                $('#signup-proc').removeClass('fa fa-refresh fa-spin');
            });
            return false;
        })
        //recommended book
        book.json({
            url : base_url+"/books/global_recommended?client_id="+client+"&limit=10",
            type : "GET",
            dataType : "json"
        }).success(function(data){
            var html = "";
            $.each(data.data,function(){
                html += '<li class="book-shadow"  id="btn-book" class="btn btn-lg btn-danger" data-toggle="popover" title="" data-content="'+this.Book.authors+'" data-trigger="hover" data-html="true" data-original-title="'+this.Book.title+'" onclick="book.desc(\'1\')"><img src="'+this.Book.cover+'" alt=""></li>';
            });
            $('#recommended').html(html);
            book.slider('div#slider1');
            var options = {
                placement: function (context, source) {
                    var position = $(source).position();
            
                    if (position.left > 515) {
                        return "left";
                    }
            
                    if (position.left < 515) {
                        return "right";
                    }
            
                    if (position.top < 110){
                        return "bottom";
                    }
            
                    return "top";
                }
            };
            $('.book-shadow').popover(options);
        });

        //popular
        book.json({
            url : base_url+"/books/global_recommended?client_id="+client+"&limit=10",
            type : "GET",
            dataType : "json"
        }).success(function(data){
            console.log(data.data);
            var html = "";
            $.each(data.data,function(){
                html += '<li class="book-shadow"  id="btn-book" class="btn btn-lg btn-danger" data-toggle="popover" title="" data-content="'+this.Book.authors+'" data-trigger="hover" data-html="true" data-original-title="'+this.Book.title+'"><img src="'+this.Book.cover+'" alt=""></li>';
            });
            $('#popular').html(html);
            book.slider('div#slider2');
            
            var options = {
                placement: function (context, source) {
                    var position = $(source).position();
            
                    if (position.left > 515) {
                        return "left";
                    }
            
                    if (position.left < 515) {
                        return "right";
                    }
            
                    if (position.top < 110){
                        return "bottom";
                    }
            
                    return "top";
                }
            };
            $('.book-shadow').popover(options);
        });
        
        //newbook
        book.json({
            url : base_url+"/books/newbooks?client_id="+client+"&limit=10",
            type : "GET",
            dataType : "json"
        }).success(function(data){
            var html = "";
            $.each(data.data,function(){
                html += '<li class="book-shadow"  id="btn-book" class="btn btn-lg btn-danger" data-toggle="popover" title="" data-content="'+this.Book.authors+'" data-trigger="hover" data-html="true" data-original-title="'+this.Book.title+'"><img src="'+this.Book.cover+'" alt=""></li>';
            });
            $('#newbook').html(html);
            book.slider('div#slider3');
            var options = {
                placement: function (context, source) {
                    var position = $(source).position();
            
                    if (position.left > 515) {
                        return "left";
                    }
            
                    if (position.left < 515) {
                        return "right";
                    }
            
                    if (position.top < 110){
                        return "bottom";
                    }
            
                    return "top";
                }
            };
            $('.book-shadow').popover(options);
        });
        //menu
        book.json({
            url : base_url+"/categories/top_categories?client_id="+client,
            type : "GET",
            dataType : "json"
        }).success(function(data){
            var obj = [];
            var lenghtObj = Math.round(main.lenghtObject(data.data)/9);
            for(t=0; t<lenghtObj; t++){
                obj[t] = [];
            }
            var i = 0;
            var j = 0;
            $.each(data.data,function(k,v){
                if(i < 9){
                    obj[j][i] = '<li><a href="/category/'+v.Category.id+'">'+v.Category.name+'</a></li>';
                    i++;
                }
                else{
                    i = 0;
                    j++;   
                }
            });
            for(var a = 0; a < lenghtObj; a++){
                var b = a + 1;
                var html = "";
                for(var k = 0; k < 9; k++){
                    html += obj[a][k];
                }
                $("#top-menu"+b).html(html);
                console.log(html);
            }
        });
    }); 
</script>
