<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Moco Store</title>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.min.css" />
  <link rel="stylesheet" href="css/aksaramaya.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
<div class="fixed">
  <nav class="top-bar">
      <ul class="title-area">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-12 columns">
              <input type="text" placeholder="Search..." id="main-search">
            </div>
          </div>
        </li>
        <li class="name">
          <h1>
            <a href="/">
              <img src="img/logo.png">
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <a href="/" class="menu-select">BERANDA</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
  <!--HEADER-->
  <div class="header">
    <div class="row">
      <div class="large-6 columns">
          
      </div>
      <div class="large-6 columns">
        <!--<div class="banner">
          <h5 style="margin-bottom:1px;">Selamat Datang</h5>
          <h1><img src="img/logo2.png"></h1>
          <br><br><br>
          <p>
            {{welcome}}
          </p>
          <a href="/about" class="button btn-aksara">Informasi Lainnya</a>
        </div>-->
      </div>
    </div>
  </div>

<!--<div class="sp">
  <div class="row">
    <div class="large-6 columns">
      <h3 class="content-title">Produk Dan Layanan</h3>
    </div>
  </div>
  
  <div class="row support">
    <div class="large-4 columns elib" style="
    padding-left: 20px;
    padding-right: 20px;
">
      <center><img src="img/elib.png" class="spimg" /></center>
      <h4><a href="/product#elib" target="_blank">e-Pustaka</a></h4>
      <p>{{library}}</p>
    </div>
    
    <div class="large-4 columns store" style="
    padding-left: 20px;
    padding-right: 20px;
">
      <center><img src="img/store.png" class="spimg" /></center>
      <h4><a href="/product#store" target="_blank">e-Bookstore</a></h4>
      <p>{{bookstore}}</p>
    </div>
    
    <div class="large-4 columns moco" style="
    padding-left: 20px;
    padding-right: 20px;
">
      <center><img src="img/moco.png" class="spimg" /></center>
      <h4><a href="/product#moco" target="_blank">Moco: <i>Reading Socially</i></a></h4>
      <p>{{moco}}</p>
    </div>
  
  </div>
</div>

  <div class="feed">
    <div class="row">
      <div class="large-6 columns">
        <h3 class="content-title">Blog</h3>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns" id="feed0">
        <h4 style="margin-bottom:0;font-size:20px;">Coming Soon</h4>
        <i>date</i>
        <p style="margin-top:10px;">Coming Soon</p>
      </div>
        
      <div class="large-4 columns" id="feed1">
        <h4 style="margin-bottom:0;font-size:20px;">Coming Soon</h4>
        <i>date</i>
        <p style="margin-top:10px;">Coming Soon</p>
      </div>
        
      <div class="large-4 columns" id="feed2">
        <h4 style="margin-bottom:0;font-size:20px;">Coming Soon</h4>
        <i>date</i>
        <p style="margin-top:10px;">Coming Soon</p>
      </div>
    
    </div>
  </div>

  <div class="contact">
    <div class="row">
      <div class="large-4 columns">
        <h3 class="content-title">Kontak Kami</h3>
      </div>
    </div>
    <div class="row">
    <form method="post" action="/">
      <div class="large-6 columns">
        <input type="text" placeholder="Name (Required)" name="name" id="name">
        <input type="text" placeholder="Email (Required)" name="email" id="email">
        <input type="text" placeholder="Subject (Required)" name="subject" id="subject">
      </div>
      <div class="large-6 columns">
        <textarea style="height: 87px;" placeholder="Your Message..." name="message" id="message"></textarea>
        <button type="submit" class="large button expand btn-aksara" style="
        padding-top: 5px;
        padding-bottom: 5px;
        ">
          <i class="icon-envelope-alt icon-2x"></i>
        </button>
      </div>
    </form>
    </div>
  </div>
-->
<div class="footrow">
  <footer class="row">
    <div class="large-18 columns">
      <div class="row">
        <div class="large-10 columns">
          <ul class="inline-list left footer-link">
            <li >
              <a href="/">BERANDA</a>
            </li>
            <li><a href="#">&bull;</a></li>
            <li>
              <a href="/about">CERITA KAMI</a>
            </li>
            <li><a href="#">&bull;</a></li>
            <li>
              <a href="/product">PRODUK DAN LAYANAN</a>
            </li>
            <li><a href="#">&bull;</a></li>
            <li>
              <a href="https://readingsocially.wordpress.com" target="_blank">BLOG</a>
            </li>
            <li><a href="#">&bull;</a></li>
            <li>
              <a href="/contact">KONTAK KAMI</a>
            </li>
          </ul>
        </div>
        <div class="large-2 columns copyright">
          <p>Copyright &copy; Aksaramaya</p>
          <p>All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <script src="js/foundation/foundation.clearing.js"></script>
  <script src="js/foundation/foundation.cookie.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script src="js/foundation/foundation.forms.js"></script>
  <script src="js/foundation/foundation.joyride.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <script src="js/foundation/foundation.placeholder.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.tooltips.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script src="js/foundation/foundation.interchange.js"></script>
  <script src="js/rss.js"></script>
  <script>

    $(document).foundation(function(){
        function resizemenu(){
          var scrn = parseInt($('.top-bar').css('width'));
            if(scrn >= 1900){
                $(".top-bar .title-area").css("margin-left","25%");
                $(".top-bar-section").css("margin-right","25%");
                $(".banner").css("margin-right",0);
            }
            else if(scrn <= 1102){
                $(".top-bar .title-area").css("margin-left",0);
                $(".top-bar-section").css("margin-right",0);
                $(".banner").css("margin-right",0);
            }
            else{
                $(".top-bar .title-area").css("margin-left",135);
                $(".top-bar-section").css("margin-right",135);
                $(".banner").css("margin-right",56);
            }
        }

        resizemenu();
        $(window).resize(function(){
          resizemenu();
        });
    });
  </script>
</body>
</html>
