<!--<% layout('masterpage') -%>-->
    <div class="bigboobs">
      <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 style="font-family:'roboto_condensedregular';letter-spacing:2px;margin-top:100px;margin-bottom:30px;">TOKO BUKU DIGITAL MOCO</h1>
                <p style="font-weight:0;font-size:2em;margin-bottom:50px;">Membaca buku digital Indonesia pada platform media sosial.</p>
                <p>Go to apps >></p>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <h3 class="title-content">Sign Up</h3>
                <p>Create your account.</p>
                <form role="form">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Retype Password">
                  </div>
                  <button type="submit" class="btn btn-ak-red pull-right">Submit</button>
                </form>
            </div>
        </div>
      </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 class="title-slide">REKOMENDASI</h3>
        </div>
    </div>
      <div class="row">
        <div class="col-md-12">
            <div id="slider1" class="slider">
                <ul>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                </ul>
            </div>
            <div class="bkn bkn-prev" onclick="book.prev('#slider1')"></div>
            <div class="bkn bkn-next" onclick="book.next('#slider1')"></div>
            <hr style="margin-bottom:0px">
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h3 class="title-slide">POPULER</h3>
        </div>
    </div>
      <div class="row">
        <div class="col-md-12">
            <div id="slider2" class="slider">
                <ul>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>

                </ul>
            </div>
            <div class="bkn bkn-prev" onclick="book.prev('#slider2')"></div>
            <div class="bkn bkn-next" onclick="book.next('#slider2')"></div>
            <hr style="margin-bottom:0px">
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h3 class="title-slide">BUKU GRATIS</h3>
        </div>
    </div>
      <div class="row">
        <div class="col-md-12">
            <div id="slider3" class="slider">
                <ul>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>
                    <li class="book-shadow"><img src="img/bookex.png" alt=""></li>

                </ul>
            </div>
            <div class="bkn bkn-prev" onclick="book.prev('#slider3')"></div>
            <div class="bkn bkn-next" onclick="book.next('#slider3')"></div>
      </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lemmon-slider.js"></script>
<script src="js/aksaramaya.js"></script>
<script>
    $(document).ready(function(){
        book.slider('div#slider1');
        book.slider('div#slider2');
        book.slider('div#slider3');
    }); 
</script>
