<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Moco Store</title>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.min.css" />
  <link rel="stylesheet" href="css/aksaramaya.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
<div class="fixed">
  <nav class="top-bar">
      <ul class="title-area">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-12 columns">
              <input type="text" placeholder="Search..." id="main-search">
            </div>
          </div>
        </li>
        <li class="name">
          <h1>
            <a href="/">
              <img src="img/logo.png">
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <a href="/" class="menu-select">BERANDA</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
  <!--HEADER-->
  <div class="header">
    <div class="row">
      <div class="large-6 columns">
          
      </div>
      <div class="large-6 columns">
        <!--<div class="banner">
          <h5 style="margin-bottom:1px;">Selamat Datang</h5>
          <h1><img src="img/logo2.png"></h1>
          <br><br><br>
          <p>
            {{welcome}}
          </p>
          <a href="/about" class="button btn-aksara">Informasi Lainnya</a>
        </div>-->
      </div>
    </div>
  </div>

<div class="footrow">
  <footer class="row">
    <div class="large-18 columns">
      <div class="row">
        <div class="large-10 columns">
          <ul class="inline-list left footer-link">
            <li >
              <a href="/">BERANDA</a>
            </li>
            <li><a href="#">&bull;</a></li>
            <li>
              <a href="/about">CERITA KAMI</a>
            </li>
            <li><a href="#">&bull;</a></li>
            <li>
              <a href="/product">PRODUK DAN LAYANAN</a>
            </li>
            <li><a href="#">&bull;</a></li>
            <li>
              <a href="https://readingsocially.wordpress.com" target="_blank">BLOG</a>
            </li>
            <li><a href="#">&bull;</a></li>
            <li>
              <a href="/contact">KONTAK KAMI</a>
            </li>
          </ul>
        </div>
        <div class="large-2 columns copyright">
          <p>Copyright &copy; Aksaramaya</p>
          <p>All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <script src="js/foundation/foundation.clearing.js"></script>
  <script src="js/foundation/foundation.cookie.js"></script>
  <script src="js/foundation/foundation.dropdown.js"></script>
  <script src="js/foundation/foundation.forms.js"></script>
  <script src="js/foundation/foundation.joyride.js"></script>
  <script src="js/foundation/foundation.magellan.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <script src="js/foundation/foundation.placeholder.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <script src="js/foundation/foundation.tooltips.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <script src="js/foundation/foundation.interchange.js"></script>
  <script src="js/rss.js"></script>
  <script src="js/lemmon-slider.js"></script>
  <script>

    $(document).foundation(function(){
        function resizemenu(){
          var scrn = parseInt($('.top-bar').css('width'));
            if(scrn >= 1900){
                $(".top-bar .title-area").css("margin-left","25%");
                $(".top-bar-section").css("margin-right","25%");
                $(".banner").css("margin-right",0);
            }
            else if(scrn <= 1102){
                $(".top-bar .title-area").css("margin-left",0);
                $(".top-bar-section").css("margin-right",0);
                $(".banner").css("margin-right",0);
            }
            else{
                $(".top-bar .title-area").css("margin-left",135);
                $(".top-bar-section").css("margin-right",135);
                $(".banner").css("margin-right",56);
            }
        }

        resizemenu();
        $(window).resize(function(){
          resizemenu();
        });
    });
  </script>
</body>
</html>
